---
import Layout from '../layouts/Layout.astro';
---

<Layout title='MultiBoy'>
    <div class="m-auto flex flex-col gap-8 items-center">
        <h1 class="text-2xl">MultiBoy</h1>
        <a href="/host?mode=shuffle">Create Shuffle Game</a>
        <a href="/host?mode=chaos">Create Chaotic Game</a>
        <a href="/host?mode=hotseat">Create HotSeat Game</a>
    </div>
</Layout>